*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

.hero{
  background:url("image.jpg") center/cover no-repeat;
  height:100vh;
}

.overlay{
  background:rgba(0,0,0,0.6);
  height:100%;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.main-btn{
  background:#25D366;
  color:white;
  padding:15px 30px;
  border-radius:30px;
  text-decoration:none;
  margin-top:20px;
  font-size:18px;
}

.products{
  padding:40px;
  background:#f4f4f4;
  text-align:center;
}

.products h2{
  margin-bottom:30px;
}

.product-box{
  background:white;
  padding:20px;
  margin:15px auto;
  max-width:400px;
  border-radius:12px;
}

.product-box span{
  display:block;
  margin:10px 0;
  font-weight:bold;
}

.order{
  display:inline-block;
  background:black;
  color:white;
  padding:10px 20px;
  border-radius:20px;
  text-decoration:none;
}

footer{
  background:#111;
  color:white;
  text-align:center;
  padding:15px;
}